/* begin page */

body,
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  font-family: roboto, sans-serif;

  &__content {
    flex: 1 1 auto;
    min-height: 100vh;
  }
}

/* end page */
