<section class="secondary-hero">
  <div class="secondary-hero__wrapper wrapper">
    <h1 class="secondary-hero__title title title--primary">
      {{ currentitem }}
    </h1>

    <ul class="secondary-hero__list">
      <li class="secondary-hero__item">
        <a class="secondary-hero__link" href="/">Главная</a>
      </li>
      <li class="secondary-hero__item">
        <svg class="secondary-hero__icon">
          <use xlink:href="images/sprite.svg#angle-right"></use>
        </svg>
        <span class="secondary-hero__link">{{ currentitem }}</span>
      </li>
    </ul>
  </div>

  <img class="img-cover" src="images/complex/secondary-hero/img.jpg" alt="">
</section>