<div class="mobile-menu">
  <div class="wrapper">
    <ul class="mobile-menu__nav">
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">
          Магазины
        </a>
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">
          Новости и акции
        </a>
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">
          О торговом центре
        </a>
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">
          Контакты
        </a>
      </li>
    </ul>
  </div>
</div>
