<header class="header">
  <div class="header__wrapper wrapper">
    <a href="/" class="header__logo">
      <img src="images/complex/header/logo.svg" alt="">
    </a>

    <ul class="header__nav">
      <li class="header__item {{ 'header__item--active' if activeMenuItem == 'shops' else '' }}">
        <a href="" class="header__link">
          Магазины
        </a>
      </li>
      <li class="header__item {{ 'header__item--active' if activeMenuItem == 'news' else '' }}">
        <a href="" class="header__link">
          Новости и акции
        </a>
      </li>
      <li class="header__item {{ 'header__item--active' if activeMenuItem == 'about' else '' }}">
        <a href="" class="header__link">
          О торговом центре
        </a>
      </li>
      <li class="header__item {{ 'header__item--active' if activeMenuItem == 'contacts' else '' }}">
        <a href="" class="header__link">
          Контакты
        </a>
      </li>
    </ul>

    <button id="burger" class="header__burger"><span></span></button>
  </div>
</header>

<div class="mobile-menu">
  <div class="wrapper">
    <ul class="mobile-menu__nav">
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">
          Магазины
        </a>
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">
          Новости и акции
        </a>
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">
          О торговом центре
        </a>
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">
          Контакты
        </a>
      </li>
    </ul>
  </div>
</div>
