<!DOCTYPE html>
<html lang="ru">
  <head>
    {% set pageTitle = 'Новости и акции' %}
    {% include "./components/complex/head/head.html" %}
  </head>

  <body class="page">
    {# begin header #}
    {% set activeMenuItem = 'news' %}
    {% include "./components/complex/header/header.html" %}      
    {# end header #}

    <div class="page__content">
      {% set currentitem = 'Акции и выгодные предложения' %}
      {% include "./components/complex/secondary-hero/secondary-hero.html" %}    
    </div>

    {# begin footer #}
    {% include "./components/complex/footer/footer.html" %}  
    {# end footer #}
  </body>
</html>
